<div id="<%= dom_id practice %>">
  <p>
    <strong>Item:</strong>
    <%= practice.item %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= practice.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= practice.end_time %>
  </p>

</div>
